<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hi</title>
</head>

<body>
    <!--
    <% if (a == b) { %>
        <p>0</p>
      <% } else { %>
        <% if (a > b) { %>
          <p><%= b - a %></p>
        <% } else { %>
          <p><%= b + a %></p>
        <% } %>
      <% } %>
      
      <% movie = ['Film 1', 'Film 2', 'Film 3', 'Film 4'] %>
      <% if (movie.length == 0) { %>
          <p>I don't like movie</p>
      <% } else { %>
        <ol>
        <% for (item of movie) { %>
          <li><%= item %></li>
        <% } %>
        </ol>
      <% } %>
      -->
    <% book='s' %>
        <% if (book=='peace' ) { %>
            <% t='no war' %>
                <p>
                    <%= t %>
                </p>
                <% } else { %>
                    <% t='Star named sun' %>
                        <p>
                            <%= t %>
                        </p>
                        <% } %>

</body>

</html>